<!DOCTYPE html>
<html lang="en">
<head>
  <link href="../static/main.css" rel="stylesheet">
  <title>
    Hamed's Geocoder
  </title>
</head>

<body>
  <div class="container">
    <h1> GEOCODING THE ADDRESSES STORED IN A CSV FILE </h1>
    <h3>Upload your csv file to geocode:</h3>
    <div class="boxed">
      <form action="C:/Users/Hamed/Documents/PythonProjects/section24/templates/success.html"  enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit">
      </form>
    </div>

  </div>

</body>
</html>
