<!DOCTYPE html>
<html lang="en">
<head>
  <link href="../static/main.css" rel="stylesheet">
  <title>
    Hamed's Geocoder
  </title>
</head>

<body>
  <div class="container">
    <h1> GEOCODING THE ADDRESSES STORED IN A CSV FILE </h1>
    <h3>Upload your csv file to geocode:</h3>
    <div class="boxed">
      <form action="C:/Users/Hamed/Documents/PythonProjects/section24/templates/success.html">
        <input type="file" name="address">
        <input type="submit">
      </form>
    </div>
  </div>
  <div class="message">
    <h3> You can download the geocoded csv file below: </h3>
    <a href="" download>
      <button> download </button>
    </a>

  </div>

</body>
</html>
